* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.background-image-header {
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: auto;
    color: white;
    position: relative;
    margin-bottom: -48px;
    padding: 200px 0
}
.gray-background {
    background-color: #f8f9fa;
}
#retrato {
    border-radius: 50%;
}
.badge {
    font-size: 18px;
    font-weight: 500 !important;
    border-radius: 50px;
    padding: 10px 20px;
}
.card-image-container {
    display: flex;
    max-height: 200px;
    overflow-y: hidden;
    align-items: center;
}
#resume ul {
    list-style-type: none;
    position: relative;
    padding: 0 !important;

}
.redes ul {
    list-style-type: none;
    margin: 15px 0 !important;
    padding: 0 !important;
}
.redes li {
    display: inline;
    margin-right: 15px;
}
body.color-dark {
    background-color: #121212;
    color: white;
}
body.color-dark .gray-background {
    background-color: #333;
}
body.color-dark .navbar {
    background-color: #333 !important;
    border-color: #555 !important;
}
body.color-dark .navbar-brand,
body.color-dark .nav-link {
    color: white !important;
}
body.color-dark .btn-outline-secondary {
    border-color: white;
    color: white;
}
body.color-dark .btn-outline-secondary:hover {
    background-color: white;
    color: black;
}